# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dependency directories
node_modules/

# Build directories
build/
dist/
sdist/
wheels/
*.egg-info/

# Other files
example.py
toplevel.py
sv_ttk/theme/light.tcl
sv_ttk/theme/dark.tcl
sv_ttk/theme/mask_light.png
sv_ttk/theme/mask_dark.png
sv_ttk/theme/spritesheet_light.png
sv_ttk/theme/spritesheet_dark.png